<div class="container">
    <div class="row">
        <div class=".col-xs-12 col-md-8 col-md-offset-2">
            <h3 class="primary"><span class="bnpp-type">Document Collection</span></h3>
            <app-document-collection (uploadDocument)="uploadDocument($event)"></app-document-collection>
            <app-documents-to-upload [documentReceived]="documentToUploadEmitter" (documentUploaded)="refreshDocumentList()" [caseId]="caseId"></app-documents-to-upload>
            <app-uploaded-documents [refreshReceived]="refreshDocumentListEmitter" [caseId]="caseId"></app-uploaded-documents>
        </div>
    </div>
</div>